<div class="row mt-2">
    <div class="col-12">
        <mat-card class="">
            <mat-card-header class="form_header">
                <mat-card-title>{{editMode?"Editar Producto":"Nuevo Producto"}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formProduct" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" placeholder="Nombre" formControlName="nombre_producto">
                                @if (isInvalidField("nombre_producto")) {
                                <mat-error> {{getFieldError('nombre_producto')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput type="text" placeholder="Descripcion"
                                    formControlName="descripcion_producto">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Precio compra</mat-label>
                                <input matInput type="number" placeholder="Precio compra"
                                    formControlName="precio_compra">
                                @if (isInvalidField("precio_compra")) {
                                <mat-error> {{getFieldError('precio_compra')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Precio venta</mat-label>
                                <input matInput type="number" placeholder="Precio venta" formControlName="precio_venta">
                                @if (isInvalidField("precio_venta")) {
                                <mat-error> {{getFieldError('precio_venta')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="id_categoria_producto"
                                    placeholder="Seleccionar Categoria Producto">
                                    <mat-option *ngFor="let categoryProduct of categorysProduct"
                                        [value]="categoryProduct.id_categoria_producto">{{categoryProduct.nombre_categoria}}</mat-option>
                                </mat-select>
                                @if (isInvalidField("id_categoria_producto")) {
                                <mat-error> {{getFieldError('id_categoria_producto')}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" mat-stroked-button extended (click)="clear()">Limpiar</button>
                            <button type="submit" mat-flat-button extended>{{editMode?"Actualizar":"Crear"}}</button>
                        </div>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 d-flex justify-content-end">
        <button mat-stroked-button extended (click)="goListProducts()">
            <mat-icon class="icon-large">chevron_left</mat-icon>
            Ir a listado
        </button>
    </div>
</div>