<div class="card">
    <div class="card-header">
        <div class="card-title">Ventas diarias</div>
    </div>
    <div class="card-body">
        <apx-chart  [series]="chartOptions.series" [chart]="chartOptions.chart" [colors]="chartOptions.colors" [xaxis]="chartOptions.xaxis"></apx-chart>
    </div>
    <!-- <div class="card-body">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels"></apx-chart>
    </div> -->
</div>