<article class="row mt-2" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0; else noDataBlock">
    <ng-container>
        <section class="table_container">
            <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" class="content__table" matSort
                (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="id_venta" [sticky]="true">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por N°">
                        N° venta</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            <a class="item_codigo" (click)="onViewDetail(element)">
                                {{element.id_venta}}
                            </a>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="concepto">
                    <th mat-header-cell *matHeaderCellDef>
                        Concepto
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.concepto}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tipo_pago">
                    <th mat-header-cell *matHeaderCellDef>Tipo pago</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.tipo_pago.nombre_tipo_pago }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tiene_descuento">
                    <th mat-header-cell *matHeaderCellDef>Tiene Descuento</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.tiene_descuento?"SI":"NO" }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tipo_descuento">
                    <th mat-header-cell *matHeaderCellDef> Tipo descuento </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.tipo_descuento?element.tipo_descuento.nombre_tipo_descuento:"" }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="descuento">
                    <th mat-header-cell *matHeaderCellDef> Descuento </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.descuento }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="usuario_registro">
                    <th mat-header-cell *matHeaderCellDef>
                        Vendedor</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{`${element.usuario_registro.nombre}
                            ${element.usuario_registro.apellido_paterno}`}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha_hora_registro">
                    <th mat-header-cell *matHeaderCellDef>
                        Fecha y hora registro</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} {{element.hora_registro}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.total | number: '1.2-2' }}
                        </div>
                    </td>
                </ng-container>

                <!-- </form> -->
                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>

            </table>
        </section>

        <mat-paginator *ngIf="onHideDisplayedPaginator(paginador)" [length]="paginador.total"
            (page)="onChangePage($event)" [pageSize]="paginador.per_page" [pageIndex]="paginador.current_page"
            [showFirstLastButtons]="true" [hidePageSize]="true">
        </mat-paginator>
    </ng-container>

</article>

<ng-template #noDataBlock>
    <app-no-data></app-no-data>
</ng-template>