<div class="row mt-2">
    <div class="col-12 d-flex justify-content-end">
        <button mat-stroked-button extended (click)="onCreate()">
            Crear producto
            <mat-icon class="icon-large">add</mat-icon>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 px-5">
        <configuracion-listado-tabla-categorias *ngIf="(productCategorysObservable$ | async) as productCategorys"
            [productCategorys]="productCategorys" [tableProperties]="{
    visibleEdit: true,
    message_no_data: 'No hay información'
    }" (search)="getAll()"></configuracion-listado-tabla-categorias>
    </div>
</div>