.mat-form-field {
    width: 100%;
    min-width: 200px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 200px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.login_header {
    padding: 2.5rem 2rem !important;
    display: flex;
    justify-content: center;
}