<div class="flex flex-column">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formLogin" (ngSubmit)="submit()">
                <p>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" placeholder="Username" formControlName="email">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>
                </p>

                <div class="button">
                    <button type="submit" mat-button>Login</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>