.content__notifier__title {
  font-size: 1.3rem;
}

.mat-mini-fab {
  background: transparent;
  border: none;
  box-shadow: none;

  i {
    vertical-align: middle;
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: .6rem;
  }
}