<article class="row mt-2" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0; else noDataBlock">
    <ng-container>
        <section class="table_container">
            <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" class="content__table">
                <ng-container matColumnDef="codigo_producto" [sticky]="true">
                    <th mat-header-cell *matHeaderCellDef> Código de obra </th>
                    <td mat-cell *matCellDef="let element">
                        <a class="item_codigo" (click)=" (element)">
                            {{element.codigo_producto}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombre_producto">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nombre_producto}} </td>
                </ng-container>

                <ng-container matColumnDef="precio_compra">
                    <th mat-header-cell *matHeaderCellDef> Precio compra</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.precio_compra }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="precio_venta">
                    <th mat-header-cell *matHeaderCellDef> Precio venta</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="content_item">
                            {{element.precio_venta }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoria.nombre_categoria}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cantidad_disponible">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidad_disponible|| '-' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="es_activo">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element"> {{(element.es_activo?"ACTIVO":"INACTIVO")}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef>Acción</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                </ng-container>

                <!-- </form> -->
                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>

            </table>
        </section>

        <mat-paginator *ngIf="onHideDisplayedPaginator(paginador)" [length]="paginador.total"
            (page)="onChangePage($event)" [pageSize]="paginador.per_page" [pageIndex]="paginador.current_page"
            [showFirstLastButtons]="true" [hidePageSize]="true">
        </mat-paginator>
    </ng-container>

</article>



<ng-template #noDataBlock>
    <div class="row">
        <div class="col">
            <div class="no-data-message">
                <img src="/assets/img/obras/no-data-message.png" alt="icon no data message">
                <p>Aún no hay información</p>
            </div>
        </div>
    </div>
</ng-template>