mat-icon.icon-large {
    font-size: 50px; // Tamaño del ícono
    line-height: 1; // Evita que se corte por alto
}

.no-data-message {
    // background-color: #ffffff;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}