<div class="">

    <nav class="menu">
        <ul>
            <li (click)="irA('','1')" class="menu__item">
                <img src="/assets/img/menu/home.svg" alt="home" />
            </li>

            <li *ngFor="let item of menuItems" class="menu__item">

                <img [ngSrc]="item.icon" [alt]="item.icon" width="30" height="30">

                <a>{{item.text}}</a>

                <ul>
                    <div [ngClass]="{'is-scroleable': isScroleable(item.subitems) }">
                        <li *ngFor="let subitem of item.subitems" [ngClass]="{'is-only-selected': subitem.url }">

                            <a [routerLink]="subitem.url" [routerLinkActive]="subitem.url ? 'is-active': ''"
                                [routerLinkActiveOptions]="{exact: true}" (click)="null"
                                style="text-align:center !important;">{{subitem.text}}
                            </a>

                            <ul>

                                <div class="submenu_div "
                                    [ngClass]="{'is-scroleable': isScroleableSub(subitem.subitems) }">

                                    <li *ngFor="let subsubitem of subitem.subitems">

                                        <a [routerLink]="subsubitem.url"
                                            [routerLinkActive]="subsubitem.url ? 'is-active': ''"
                                            [routerLinkActiveOptions]="{exact: true}" (click)="null"
                                            style="text-align:center !important;">{{subsubitem.text}}</a>
                                    </li>

                                </div>

                            </ul>

                        </li>

                    </div>

                </ul>

            </li>
        </ul>
    </nav>

</div>