<div mat-dialog-title>
    <div class="row" style="margin-top: -20px !important;">
        <div class="col-12 d-flex justify-content-center">
            <mat-icon class="icon-large">question_mark</mat-icon>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h5>{{ data.title }}</h5>
            <p>{{ data.subtitle }}</p>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>{{ data.buttonCancelText || 'CANCELAR' }}</button>
    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>{{ data.buttonConfirmText || 'ACEPTAR' }}</button>
</mat-dialog-actions>
