<div class="row mt-2">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Filtrar
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form [formGroup]="formSearch" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [max]="formSearch.get('fecha_fin')?.value"
                                            [matDatepicker]="pickerInicio" formControlName="fecha_inicio" />
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix
                                            [for]="pickerInicio"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerInicio></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [min]="formSearch.get('fecha_inicio')?.value"
                                            [matDatepicker]="pickerFin" formControlName="fecha_fin" />
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFin></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="ids_tipo_pago" placeholder="Seleccionar Tipo Pago"
                                            multiple #select>
                                            <mat-option #allSelectOption [value]="0"
                                                (click)="toggleAllSelection('ids_tipo_pago')" class="allSelectOption">
                                                <strong class="text-black">Seleccionar
                                                    todos</strong>
                                            </mat-option>

                                            <mat-option *ngFor="let paymentType of paymentTypes"
                                                [value]="paymentType.id_tipo_pago"
                                                (click)="optionClick('ids_tipo_pago')">{{paymentType.nombre_tipo_pago}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="ids_usuario_registro"
                                            placeholder="Seleccionar Empleado" multiple #select>
                                            <mat-option #allSelectOption [value]="0"
                                                (click)="toggleAllSelection('ids_usuario_registro')"
                                                class="allSelectOption">
                                                <strong class="text-black">Seleccionar
                                                    todos</strong>
                                            </mat-option>

                                            <mat-option *ngFor="let paymentType of paymentTypes"
                                                [value]="paymentType.id_tipo_pago"
                                                (click)="optionClick('ids_usuario_registro')">{{paymentType.nombre_tipo_pago}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" mat-stroked-button extended>Buscar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>