<div class="row mt-2">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Filtrar
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form [formGroup]="formSearch" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Fecha inicio</mat-label>
                                        <input matInput type="date" placeholder="Nombre" formControlName="fecha_inicio">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Fecha fin</mat-label>
                                        <input matInput type="date" placeholder="Nombre" formControlName="fecha_fin">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="ids_tipo_pago" placeholder="Seleccionar Tipo Pago"
                                            multiple #select>
                                            <mat-option #allSelectOption [value]="0"
                                                (click)="toggleAllSelection('ids_tipo_pago')" class="allSelectOption">
                                                <strong class="text-black">Seleccionar
                                                    todos</strong>
                                            </mat-option>

                                            <mat-option *ngFor="let paymentType of paymentTypes"
                                                [value]="paymentType.id_tipo_pago"
                                                (click)="optionClick('ids_tipo_pago')">{{paymentType.nombre_tipo_pago}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="ids_usuario_registro"
                                            placeholder="Seleccionar Empleado" multiple #select>
                                            <mat-option #allSelectOption [value]="0"
                                                (click)="toggleAllSelection('ids_usuario_registro')"
                                                class="allSelectOption">
                                                <strong class="text-black">Seleccionar
                                                    todos</strong>
                                            </mat-option>

                                            <mat-option *ngFor="let paymentType of paymentTypes"
                                                [value]="paymentType.id_tipo_pago"
                                                (click)="optionClick('ids_usuario_registro')">{{paymentType.nombre_tipo_pago}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" mat-button>Buscar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>