// @import "tailwindcss";

// @custom-variant dark (&:where(.dark, .dark *));
@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    @include mat.theme((color: mat.$violet-palette,
            typography: Roboto,
            density: 0));
}

.content__table {
    width: 100%;

    // margin-bottom: 1.5rem;
    th {
        background: #f4f5f7 !important;
        color: #3b404a;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 10px;
        text-align: center !important;
    }

    td {
        background: #ffffff !important;
        padding: 1rem 10px;
        text-align: center !important;
    }

    th {
        cursor: pointer;
    }

    td,
    th {
        letter-spacing: -0.019em;
        vertical-align: middle !important;
        text-align: center;
    }

    tr:hover {
        background-color: #eee !important;
    }

}

mat-paginator {
    background: #ffffff !important;
}