@use "mixins/flex-layout-media-queries.mixin" as *;

::ng-deep .custom-pop-up-confirmation-input {
  mat-dialog-container {
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 1rem 2.4rem 5rem 2.4rem;
    width: 50rem;
  }

  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0em;
  }

  .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }

  .mat-form-field-underline {
    display: none;
  }
}
.color-primary:disabled {
  text-transform: capitalize;
  color: #3b404a !important;
  font-weight: 600;
}
.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}
.dialog__content__message {
  h2 {
    padding-bottom: 30px;
  }
}
.dialog__content__message,
.dialog__content__message.span {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color: #3c4a3e;
  font-family: "poppins-Regular" !important;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-align: center;
  line-height: 1.3;
}

.dialog__content__message--subtitle {
  font-weight: 100;
  font-size: 1.9rem;
  margin-top: 0.3rem;
}

.dialog__content__description {
  mat-form-field {
    width: 100%;

    textarea {
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      box-sizing: border-box;
      color: #666666;
      padding: 1rem 0.65rem 1rem 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-family: "poppins-Regular";
      font-size: 1.3rem;
      width: 100%;
      caret-color: #666666;
    }

    textarea::placeholder {
      color: #666666;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      font-family: "poppins-Regular" !important;
      opacity: 1;
    }
  }
}

.dialog__content__description .dialog__content__message__reason {
  color: #3f454f;
  font-size: 1.55rem;
  font-weight: 100;
  font-family: "poppins-Regular" !important;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

.dialog__content__description .dialog__content__description__contador {
  color: #666666;
  text-align: end;
  font-size: 1.4rem;
}

.dialog__content__button__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.8rem;

  mat-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.dialog__content__image {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
  filter: brightness(0) saturate(100%) invert(21%) sepia(10%) saturate(526%)
    hue-rotate(165deg) brightness(100%) contrast(90%);
}
.color-primary.mat-button {
  text-transform: capitalize;
  font-weight: 600;
}
.dialog__content__buttons {
  display: flex;
  justify-content: center;
  gap: 4.5rem;
  margin-top: 2.5rem;
  text-transform: capitalize;
  button {
    width: 109px;
    &:first-child {
      color: #356233;
      border: 1px solid #356233;
      font-weight: 600;
    }
  }
}

@include xs {
  .dialog__content__message,
  .dialog__content__message.span {
    padding: 0 12px;
  }

  .dialog__content__image {
    width: 7rem;
    height: 7rem;
  }

  .dialog__content__message {
    font-size: 2rem;
  }

  .dialog__content__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .dialog__content__buttons button:first-child {
    order: 1;
  }

  .dialog__content__button {
    width: 100%;
    font-size: 1.2rem;
  }
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #cbcbcb;
}
